.fingerboard-app .message {
  margin-bottom: 1rem;
}

.fingerboard-app .question-answer-area {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.fingerboard-app .answer-area {
  color: red;
}

.fingerboard-app .next-btn {
  cursor: pointer;
  width: 200px;
  font-size: 1.25rem;
}